{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Register' %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock head %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <div class="cont-cadastro">
                    <br>
                    <br>
                    <section class="cont-logo">
                        <img class="logo" src="{% static 'general/img/logo.png' %}">
                        <label class="text-logo">{% trans 'HEALING' %}</label>
                    </section>
                    <hr>

                    <form action="{% url 'register' %}" method="post">
                        <h2 class="fonte-destaque1">{% trans 'Register' %}</h2>
                        <br>
                        <label for="">{% trans 'Username' %}</label>
                        <input type="text"
                               name="username"
                               id=""
                               class="form-control"
                               placeholder="{% trans 'Username ...' %}">
                        <br>
                        <label for="">{% trans 'E-mail' %}</label>
                        <input type="text"
                               name="email"
                               id=""
                               placeholder="{% trans 'email@email.com' %}"
                               class="form-control">
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <label for="">{% trans 'Password' %}</label>
                                <input type="password"
                                       name="senha"
                                       class="form-control"
                                       placeholder="{% trans 'Enter your password ...' %}">
                            </div>
                            <div class="col-md">
                                <label for="">{% trans 'Confirm Password' %}</label>
                                <input type="password"
                                       name="confirmar_senha"
                                       class="form-control"
                                       placeholder="{% trans 'Enter your password again ...' %}"
                                       id="">
                            </div>
                        </div>
                        <br>

                        <input type="submit"
                               value="{% trans 'Register' %}"
                               class="btn btn-success btn-dark-color">
                        <a href="#" class="btn btn-dark-color-outline">{% trans 'Already have an account' %}</a>
                    </form>
                </div>

            </div>
            <div class="col-md bg-main d-flex justify-content-center align-items-center">
                <img src="{% static 'accounts/img/ilustration.png' %}" alt="">
            </div>
        </div>
    </div>


{% endblock body %}
